
<div class="container">

  <form [formGroup]="exform" (ngSubmit)="onSubmit()" >

    <label for="">first name *</label>
    <br>
    <input formControlName="firstName" type="text">
    <br>
    <small *ngIf="exform.get('firstName').invalid && exform.get('firstName').touched " class="text-danger">first name is requeried </small>

    <br>
    <label for="">last name *</label>
    <br>
    <input  formControlName="lastName" type="text">
    <br>
    <small *ngIf="exform.get('lastName').invalid && exform.get('lastName').touched" class="text-danger">last name is required </small>
    <br>
    <label for="">email *</label>
    <br>
    <input formControlName="email" type="text">
    <br>
    <small *ngIf="exform.get('email').invalid && exform.get('email').touched" class="text-danger">  valide email is required</small>
    <br>
    <label for="">pasword *</label>
    <br>
    <input formControlName="password" type="password">
    <br>
    <small *ngIf="exform.get('password').invalid && exform.get('password').touched" class="text-danger">password is required</small>
    <br>

    <label for=""> confirm pasword *</label>
    <br>
    <input formControlName="confirmPassword" type="password">
    <br>
    <small *ngIf="exform.get('confirmPassword').errors?.['isError']" class="text-danger">not matched</small>
    <br>
    <label for=""> company name *</label>
    <br>
    <input formControlName="companyName" type="text">
    <br>
    <small *ngIf="exform.get('companyName').invalid && exform.get('companyName').touched" class="text-danger">company name is required</small>
    <br>
    <label for=""> Date of Joining *</label>
    <br>
    <input formControlName="joiningDate" type="date" max="{{maxDate}}">
    <br>
    <small *ngIf="exform.get('joiningDate').invalid && exform.get('companyName').touched" class="text-danger">Joining Date is required</small>
    <br>

    <label for=""> Role Description *</label>
    <br>
    <textarea  formControlName="roleDescription" class="form-control"></textarea>
    <br>
    <small *ngIf="exform.get('roleDescription').invalid && exform.get('roleDescription').touched" class="text-danger">Role description is required</small>
    <br>

    <button  class="btn btn-primary">Login</button>

     </form>

</div>

